.row
  .small-24.columns.mypassword-header Forgot your password?
.row
  .small-24.large-8.large-offset-8.columns
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      .form-field.input-container
        = f.email_field :email, label: false, placeholder: "Email", :autofocus => true   
      = f.submit "Send me reset password instructions", class: "button mypassword-button" 
      %ul.button-group 
        = link_to "Sign In", new_session_path(@user), class: "button mysign-in-button-l"
        = link_to "Sign Up", new_user_registration_path, class: "button mysign-in-button-r"
