.page-header.text-center.myheader
  %img.cat( src="catleft.jpeg" width="80px")
  %h1.header 
    Welcome to Readit!
    %br
    %small Where Cat Pictures Go To Die
  %img.cat( src="catright.jpeg" width="80px")
       

-@links.sort_by {|link| link.plusminus}.reverse.each do |link|
  .row.well.mylinkspace
    .span1.span-link-vote
      %div
        = link_to raw('<i class="icon-caret-up icon-4x myvotearrow"></i>'), vote_up_link_path(link), :method => :post
      %div
        %h1.votes=link.plusminus
      %div
        = link_to raw('<i class="icon-caret-down icon-4x myvotearrow"></i>'), vote_down_link_path(link), :method => :post
    .span3.mythumbnail
      =link_to image_tag(link.thumbnail || "r.jpeg", class: "thumbnail"), link.url
    .linkinfo  
      .span4
        %h4
          %strong.linktitle=link_to link.title, link.url
      .span8      
        %p.previewtext=link.previewtext
      .span6
        %p
          %i.icon-user 
          by
          %span.blue
            =link.user.username
          | 
          %i.icon-calendar
          = link.created_at.strftime("%D %T")
      .span6
        %p
          = link_to "#{link.comments.count} comments", link


= will_paginate @links, renderer: BootstrapPagination::Rails, class: "pagination pagination-centered"