/ %h2=params
.row.myheader
  =image_tag("NOOBNOOS_TITLE.png", class: "myheader")
       
-@links.sort_by {|link| link.plusminus}.reverse.each do |link|
  .row.mylinkspace
    .large-1.columns.span-link-vote
      %div
        = link_to raw('<i class="icon-caret-up icon-4x myvotearrow"></i>'), vote_up_link_path(link), :method => :post
      %div
        %h1.votes=link.plusminus
      %div
        = link_to raw('<i class="icon-caret-down icon-4x myvotearrow"></i>'), vote_down_link_path(link), :method => :post
    .large-3.small-12.columns.mythumbnail
      =link_to image_tag(link.thumbnail || "r.jpeg", class: "thumbnail mythumbnail"), link.url
    .large-8.small-12.columns 
      %h4
        %strong.linktitle=link_to link.title, link     
      %p.previewtext=link.previewtext
      %p.aboutlink
        -gravatar_hash = Digest::MD5.hexdigest(link.user.email.downcase)
        =image_tag("http://www.gravatar.com/avatar/" + gravatar_hash, class: "userthumb")
        %span.blue
          =link.user.username
        | 
        %i.icon-calendar
        -localtime = link.created_at-5.hours
        = localtime.strftime("%D %I:%M %p")
        |
        = link_to "#{link.comments.count} comments", link
        |
        = show_favorite_star(current_user, link)


%div.pagination-centered
  = foundation_paginate @links