.row
  .small-12.columns.mysign-in-header ADD A LINK!
.row.myform
  .small-12.large-6.columns.large-offset-3
    =form_for(@link) do |f|
      -if @link.errors.any?
        #error_explanation
          %h2= pluralize(@link.errors.count, "error") + "prohibited this link from being saved:"
          %ul
            - @link.errors.full_messages.each do |msg|
              %li= msg
      .form-field.input-container
        = f.text_field :title, :placeholder => "Title", :autofocus => true
      .form-field.input-container
        = f.text_field :url, :placeholder => "Link"
      .form-field.input-container
        = f.text_area :description, :placeholder => "Description", rows: "10"
      .row
        .small-6.columns.small-offset-4
          = f.submit "Add Link", :class => 'button mylink-button'
  / = render "devise/shared/links"


