.row
  .span8
    .row
      .span8
    .row
      .span1.span-link-vote
        %div
          = link_to raw('<i class="icon-caret-up icon-4x myvotearrow"></i>'), vote_up_link_path(@link), :method => :post
        %div
          %h1.votes=@link.plusminus
        %div
          = link_to raw('<i class="icon-caret-down icon-4x myvotearrow"></i>'), vote_down_link_path(@link), :method => :post, class: 'arrow'
      .link
        .span3.mythumbnail
          =link_to image_tag(@link.thumbnail || "r.jpeg", class: "thumbnail"), @link.url
      .linkinfo
        .span4
          %h4
            %strong.linktitle=link_to @link.title, @link.url
        .span8      
          %p=@link.description
        .span6
          %p
            %i.icon-user 
            by
            %span.blue
              =@link.user.username
            | 
            %i.icon-calendar
            =@link.created_at.strftime("%D %T")
%div.comments
  %h4.comment-header Comments:
  - @link.comments.sort_by {|comment| comment.plusminus}.reverse.each do |comment|
    -if comment.message !=nil
      .comment.row
        .span8
          .row
            .span8
          .row
            .span1.span-comment-vote
              %div
                = link_to raw('<i class="icon-caret-up icon-2x myvotearrow"></i>'), vote_up_link_comment_path(@link,comment), :method => :post
              %div
                %h4.votes=comment.plusminus
              %div
                = link_to raw('<i class="icon-caret-down icon-2x myvotearrow"></i>'), vote_down_link_comment_path(@link, comment), :method => :post
            %div.comment-content    
              %p
                %span.user
                  %strong="User:" if comment.user
                  =comment.user.username if comment.user
                %span.date
                  %strong="Date:" if comment.created_at
                  =comment.created_at.strftime("%D %r") if comment.created_at
              %div
                %p= comment.message
          

.container.myform
  .row
    .span4.offset4.well
      %legend Add a Comment!
      = form_for [@link, @comment] do |f|
        -if @comment.errors.any?
          #error_explanation
            %h2= pluralize(@comment.errors.count, "error") + "prohibited this comment from being saved:"
            %ul
              - @comment.errors.full_messages.each do |msg|
                %li= msg
        %div= f.text_area :message, :placeholder => "Add a comment", :autofocus => true, rows: "10", class: "field span4"
        %div= f.submit "Add Comment", :class => 'btn btn-warning'